:root {
    --dark-green: #009F00;
    --light-green: #6EFE47;
    --green: rgb(172, 222, 35);
    --super-light-green: #F0FAF2;
    --black: rgb(51, 51, 51);
    --white: #fff;
    --grey: #808080;
    --invalid: rgb(242, 222, 222);
    --blue: rgb(35, 82, 124);
    --red: rgb(169, 68, 71);
    --light-grey: rgb(239, 239, 239);
    --purple: rgb(124, 73, 144);
}

.contact {
    width: 80%;
    margin: 100px auto;
}

.contact h1 {                                          
    text-align: center;
    font-size: 4vw;
    color: var(--dark-green);
}

.contact-container {
    width: 80%;
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.contact-container img {
    height: 20vw;
    width: 100%;
}

.contact-form p {
    font-size: 20px;
    line-height: 30px;
    color: var(--grey);
}

.contact-form label {
    display: inline-block;
    margin-top: 20px;
    color: var(--dark-green);
    font-size: 14px;
}

.contact-form input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    border-bottom: 1px solid var(--grey);
    opacity: .8;
    background-color: transparent;
}

.contact-form textarea {
    width: 100%;
    margin-top: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--grey);
    height: 40px;
    background-color: transparent;
}

.contact-form button {
    width: 100%;
    padding: 14px 0;
    border-radius: 5px;
    margin-top: 15px;
    background-color: var(--dark-green);
    border: none;
    text-align: center;
    outline: none;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.contact-info {
    width: 80%;
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    row-gap: 40px;
}

.contact-info div {
    background-color: var(--light-grey);
    padding: 20px;
    max-width: 350px;
}

.contact-info h2 {
    color: var(--dark-green);
    font-size: 22px;
    opacity: .8;
    padding-bottom: 20px;
}

.contact-info h3 {
    font-weight: 500;
    color: var(--grey);
    padding-bottom: 10px;
}

.contact-info i {
    margin-right: 8px;
}

.contact-info p {
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
}

.fa-phone-volume {
    background-color: var(--purple);
    color: var(--white);
    padding: 10px;
    margin-top: 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.fa-whatsapp {
    background-color: var(--dark-green);
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
}

.contact-info div .subscribe {
    padding: 20px 0;
    display: flex;
    margin: 0;
}

.contact-info div input {
    padding: 10px 0 10px 10px;
    border: 2px solid var(--dark-green);
    outline: none;
}

.contact-info div .subscribe button {
    width: 100%;
    border: 2px solid var(--dark-green);
    background-color: var(--dark-green);
    color: var(--white);
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

@media(max-width: 1370px) {
    .contact-info div {
        max-width: 320px;
    }
}

@media(max-width: 1250px) {
    .contact {
        width: 100%;
    }

    .contact-info {
        width: 90%;
    }

    .contact-info div {
        max-width: 300px;
    }

}

@media(max-width:770px) {
    .contact-container {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .contact-container img {
        height: 50%;
    }
}

@media(max-width:550px) {
    .contact {
        margin: 50px auto 0;
    }

    .contact-container {
        width: 80%;
        margin: 30px auto 0;
    }

    .contact h1 {
        font-size: 22px;
    }
}