:root {
    --dark-green: #009F00;
    --light-green: #6EFE47;
    --green: rgb(172, 222, 35);
    --super-light-green: #F0FAF2;
    --black: rgb(51, 51, 51);
    --white: #fff;
    --grey: #808080;
    --invalid: rgb(242, 222, 222);
    --blue: rgb(35, 82, 124);
    --red: rgb(169, 68, 71);
}

body {
    display: grid;
    place-items: center;
}

.forgot {
    margin: 40px auto 0;
    display: grid;
    place-items: center;
}

.forgot img {
    width: 12vw;
}

.forgot h2 {
    font-size: 22px;
    color: var(--black);
    padding: 30px;
    opacity: .8;
}

.forgot p {
    opacity: .8;
    color: var(--black);
}

form {
    padding: 50px;
}

form label {
    font-size: 16px;
    color: var(--black);
    margin-right: 20px;
}

form input {
    color: var(--red);
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid var(--grey);
    border-radius: 3px;
    outline: none;
    width: 350px;
}

button{
    padding: 10px 14px;
    font-size: 15px;
    color: var(--white);
    background-color: var(--dark-green);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}